<div id="stage-finished" style="display:none;">
  <h2>Congrats!</h2>
  <p>You have completed the stage with a time of</p>
</div>
<h2 id="timer">Press Start to Begin the Stage</h2>
<div id="overtime" style="display:none;">
  <h1>Warning!</h1>
  <p>You are now over the ideal time of 1h 35m! Please proceed to the next checkpoint at your earliest convienience.</p>
</div>
<a href="#" class="button start" style="display:none;">Start</a>
<a href="#" class="button finish" style="display:none;">Finish</a>
<a href="#" class="button next" style="display:none;">Next Stage</a>

<script type="text/javascript" charset="utf-8">
  $(function(){
    Rampage.initialize(Date.now()/1000 + 20, "down");
  });
</script>


/stages/current
  stage: {
    number: 1,
    type: 'ideal',
    time: 123324325
  }


