<%= render partial:'shared/iphone_check' %>

<h1>Rally Rampage!</h1>
<h2 id="timer">loading timer...</h2>

<script type="text/javascript" charset="utf-8">
  timer = new Timer("timer");
  timer.run();
</script>
