// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* { margin: 0; }
html, body { height: 100%; }
body {
  text-align: center;
  font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', helvetica, sans;
  font-weight: 200;
  color: #222;
  padding: 0;
  p { margin: 10px 0; }
  h1,h2 {
    font-weight: 200;
    margin: 20px 0;
  }
  nav {
    padding: 10px 0;
    background: #fafafa;
    color: #222;
    border-bottom: solid 1px #eee;
    h1#logo {
      margin: 0;
      font-size: 1em;
      font-weight: normal;
      a {
        color: #222;
        text-decoration: none;
      }
    }
  }
  h1 {
    font-size: 2.5em;
  }
  #timer {
    padding: 10px 0;
    color: #222;
    background-color: #fff;
  }
  .button-list {
    &.fixed {
      width: 100%;
      position: absolute;
      bottom: 0px;
    }
  }
  .button {
    display: block;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px 0;
    font-size: 1.5em;
    color: #222;
    background-color: #eee;
    &.team { }
    &.start, &.next {
      color: #fff;
      background-color: #09f;
    }
    &.finish {
      color: #fff;
      background-color: #0f9;
    }
  }
  &.warning {
    color: #fff;
    background-color: #b00;
    .button.finish {
      color: #222;
      background-color: #fff;
    }
  }
  ul#teams {
    list-style: none; padding: 0; margin: 0;
    li.team {
      list-style: none;
    }
  }
}
