// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors

$redbg:         #FB2025;
$greenbg:       #2EC22D;
$bluebg:        #2084F5;
$greybg:        #DEDEDE;
$background:    #FFFFFF;
$header:        #F7F7F7;
$header-border: #A2A2A2;
$text-light:    #7B7B7B;
$text:          #000000;

// styles

* { margin: 0; }
html, body { height: 100%; }
body {
  background: $background;
  text-align: center;
  font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', helvetica, sans;
  font: -apple-system-body;
  font-weight: 200;
  color: $text;
  padding: 0;
  p { margin: 10px 0; }
  h1,h2 {
    font: -apple-system-headline1;
    font-weight: 200;
    margin: 20px 0;
  }
  nav {
    position: -webkit-sticky;
    top: 0;
    padding: 10px 0;
    background: $header;
    color: $text;
    border-bottom: solid 1px $header-border;
    h1#logo {
      margin: 0;
      font-size: 1em;
      font-weight: normal;
      a {
        color: $text;
        text-decoration: none;
      }
    }
  }
  h1 {
    font-size: 2.5em;
  }
  #timer {
    padding: 10px 0;
    color: $text;
    background-color: $background;

    .time_main {
      font-size: 1.5em;
      font-weight: 700;
    }
    
    .time_ms {
      font-size: 0.75em;

    }
    
  }
  .button-list {
    width: 100%;
    padding-bottom: 10px;
    &.fixed {
      position: absolute;
      bottom: 0px;
    }
  }
  .button {
    display: block;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px 0;
    font-size: 1.2em;
    color: $text;
    background-color: $greybg;
    &.team { }
    &.start, &.next {
      color: $background;
      background-color: $bluebg;
    }
    &.finish {
      color: $background;
      background-color: $greenbg;
    }
  }
  &.warning {
    color: $background;
    background-color: $redbg;
    .button.finish {
      color: $text;
      background-color: $background;
    }
  }
  ul#teams {
    list-style: none; padding: 0; margin: 0;
    li.team {
      list-style: none;
    }
  }
}
